<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.eclipsesource.tabris.rss" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Tabris.js RSS reader</name>
    <description>
        An exemplary Tabris.js Rss reader.
    </description>
    <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">
        EclipseSource
    </author>
    <access origin="*" />
    <platform name="android">
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
    </platform>
</widget>
